jsonschema
pandas==1.4.1
nbconvert==6.4.5
nbformat==5.2.0
mdformat
mdformat_frontmatter
mdformat_myst
mdformat_tables
mdit-py-plugins
mypy-extensions==1.0.0
myst
myst-parser
nbclient==0.5.13
tabulate==0.9.0
lxml==4.9.3

